<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.srx.discussion">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:largeHeap="true"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true">
        <activity android:name=".Actitvity.addPost">
        </activity>
        <activity android:name=".Actitvity.insertPyq">
        </activity>
        <activity android:name=".Actitvity.postsActivity">
        </activity>
        <activity android:name=".Actitvity.userInfoDetail">
        </activity>
        <activity android:name=".Actitvity.register">
        </activity>
        <activity android:name=".Actitvity.login">
        </activity>
        <activity android:name=".Actitvity.loadingPage">
        </activity>
        <activity android:name=".Actitvity.PostDetailActivity">
        </activity>
        <activity
                android:name=".Actitvity.MainActivity"
                android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>